name: Node CI

on: 
   - push
   - pull_request

env:
    CI: true

jobs:
    build:
        runs-on: ubuntu-latest
     
        strategy:
          matrix:
            node-version: [18.x]

        steps:
            - uses: actions/checkout@v4

            - name: "Use Node.js ${{ matrix.node-version }}"
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
                cache: 'npm'
            
            - name: "Setup project dependances and build it"
              run: make setup
            
            - name: "Run project linting"
              run: make lint
            
            - name: "Run project tests"
              run: make test
            
            - uses: hexlet-components/hello-from-hexlet-action@release